.body_backgorund {
    background-image: url("original.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: crosshair;
  }
  h1
  {
      color:rgb(204, 0, 255); 
      font-size: 45px;
  }
  #myCanvas
  {
      border-width:15px;
      background-color: white; 
      border-style:double;
      border-color: rgb(0, 255, 242);
  }

  button {
    background-color: black;
    border: white;
    color: white;
    padding: 11px 43px;
    font-size: 20px;
  }

  input
  {
    margin-right: 20px;
  }
  